# Gradle
.gradle/
build/
out/
classes/

# Eclipse
*.launch
.settings/
.metadata/
.classpath
.project
bin/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# Minecraft
run/
logs/
crash-reports/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini
